openapi: 3.0.0
info:
  description: "Portail API permettant l'accès à certaines ressources mises à disposition par Montpellier Méditerranée Métropole. Les données sont accessibles au format standardisé Fiware."
  version: "1.0.0"
  title: "Open Data Montpellier Méditerranée Métropole"
  termsOfService: "https://data.montpellier3m.fr/mentions-l%C3%A9gales"
  contact:
    email: "opendata3m@montpellier3m.fr"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"


servers:
  - url: https://portail-api-data.montpellier3m.fr

tags:
  - name: Disponibilité des vélos Vélomagg
    description: Informations en temps réel sur la disponibilité des vélos dans les stations Vélomagg
  - name: Historique des places Vélomagg
    description: Données historiques de disponibilité des vélos Vélomagg
  - name: Parkings
    description: Disponibilité des places de parking en ouvrage
  - name: Historique des places de parking en ouvrage
    description: Données historiques de disponibilité des parkings
  - name: Historique des comptages vélo et piéton
    description: Données historiques des comptages vélo et piéton
  - name: Description Eco-Compteurs
    description: Description et localisation des éco-compteurs
  - name: Taux de remplissage des conteneurs verre
    description: Informations sur le taux de remplissage des conteneurs à verre
  - name: NGSI-LD
    description: Endpoints NGSI-LD avec capacités complètes de filtrage et de requêtes

paths:
  /ngsi-ld/v1/entities?type=BikeHireDockingStation:
    get:
      tags:
       - Disponibilité des vélos Vélomagg
      summary: Get BikeHireDockingStation entities
      description: Simplified endpoint for querying bike docking stations. For geo-queries, use /ngsi-ld/v1/entities
      parameters:
       -  in: query
          name: type
          description: Entity type (fixed to BikeHireDockingStation)
          schema:
            type: string
            enum:
              - BikeHireDockingStation
          required: true
       -  $ref: '#/components/parameters/idParameter'
       -  $ref: '#/components/parameters/limitParameter'
       -  $ref: '#/components/parameters/qParameter'
      responses:
        '200':
          description: Data model example https://smart-data-models.github.io/dataModel.Transportation/BikeHireDockingStation/examples/example-normalized.json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bikestation'
        "404":
          description: Entity not Found
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500":
          description: Internal Error

  /ngsi-ld/v1/temporal/entities/{entityId}:
    get:
      tags:
       - NGSI-LD
       - Historique des places Vélomagg
       - Historique des places de parking en ouvrage
       - Historique des comptages vélo et piéton
      summary: Query temporal evolution of an entity
      description: |-
        NGSI-LD temporal endpoint for querying the historical data of a specific entity.

        Supports BikeHireDockingStation, OffStreetParking, and EcoCounter entities.
      parameters:
       -  name: entityId
          in: path
          description: |-
            Entity identifier.

            Examples:
            - urn:ngsi-ld:station:001 (BikeHireDockingStation)
            - urn:ngsi-ld:parking:001 (OffStreetParking)
            - urn:ngsi-ld:EcoCounter:XTH19101158 (EcoCounter)
          schema:
            type: string
          required: true
       -  $ref: '#/components/parameters/formatParameter'
       -  $ref: '#/components/parameters/timerelParameter'
       -  $ref: '#/components/parameters/timeAtParameter'
       -  $ref: '#/components/parameters/endTimeAtParameter'
       -  $ref: '#/components/parameters/attrsParameter'
      responses:
        '200':
          description: |-
            Returns temporal data for the specified entity.

            Response format depends on the 'format' parameter (default: temporalValues).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BikestationTimeseries'
                  - $ref: '#/components/schemas/OffStreetParkingTimeseries'
                  - $ref: '#/components/schemas/EcocounterTimeseries'
        "404":
          description: Entity not Found
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500":
          description: Internal Error

  /ngsi-ld/v1/entities?type=OffStreetParking:
    get:
      tags:
       - Taux de remplissage des conteneurs verre
      summary: Get WasteContainer entities
      description: Simplified endpoint for querying waste containers. For geo-queries, use /ngsi-ld/v1/entities
      parameters:
       -  in: query
          name: type
          description: Entity type (fixed to WasteContainer)
          schema:
            type: string
            enum:
              - WasteContainer
          required: true
       -  $ref: '#/components/parameters/idParameter'
       -  $ref: '#/components/parameters/limitParameter'
       -  $ref: '#/components/parameters/qParameter'
      responses:
        '200':
          description: |-
            Le modèle actuel est un schéma personnalisé et proposé par la Métropole de Montpellier, des modèles wastecontainer sont sur le site https://smartdatamodels.org/.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WasteContainer'
        "404":
          description: Entity not Found
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500":
          description: Internal Error

  /ngsi-ld/v1/entities?type=OffStreetParking:
    get:
      tags:
       - Parkings
      summary: Get OffStreetParking entities
      description: Simplified endpoint for querying parking facilities. For geo-queries, use /ngsi-ld/v1/entities
      parameters:
       -  in: query
          name: type
          description: Entity type (fixed to OffStreetParking)
          schema:
            type: string
            enum:
              - OffStreetParking
          required: true
       -  $ref: '#/components/parameters/idParameter'
       -  $ref: '#/components/parameters/limitParameter'
       -  $ref: '#/components/parameters/qParameter'
      responses:
        '200':
          description: Data model example https://smart-data-models.github.io/dataModel.Parking/OffStreetParking/examples/example-normalized.json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffStreetParking'
        "404":
          description: Entity not Found
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500":
          description: Internal Error

  /ecocounter:
    get:
      deprecated: true
      tags:
       - Disponibilité des vélos Vélomagg
     # summary: Get bike stations list
     # description: Returns bike stations list
      #operationId: BikeStationList
      #produces:
      # - application/json
      parameters:
        - in: query
          name: id
          schema:
            type: string
          description: |-
            Returns entities whose ID matches one of the elements in the list.
            ex: "urn:ngsi-ld:station:001"
          required: false
        - in: query
          name: limit
          schema:
            type: integer
            default: 1000
          description: Limit the number of elements of entities to return (max 1000)
          required: true

      responses:
        '200': 
          description: Data model example https://smart-data-models.github.io/dataModel.Transportation/BikeHireDockingStation/examples/example-normalized.json
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Bikestation'
        "404": 
          description: Entity not Found   
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500": 
          description: Internal Error


  /bikestation_timeseries/{bikeStationId}/attrs/availableBikeNumber:
    get:
      deprecated: true
      tags:
       - Historique des places Vélomagg
      #summary: Query Bike Station Time Series data
      #description: Query Bike Station Time Series data
      #operationId: querybikestationtimeseriesdata
      #produces:
      # - application/json
      parameters:
       -  name: "bikeStationId"
          in: path
          description: |-
            ex:
            "urn:ngsi-ld:station:001"
          schema:
            type: string
          required: true
            
       -  name: fromDate
          in: query
          description: |-
            ex: 
            "2022-01-01T00:00:00"
          schema:
            type: string
          required: true

       -  name: toDate
          in: query
          description: |-
            ex: 
            "2023-12-31T23:59:59"
          schema:
            type: string
          required: true
      responses:
        '200': 
          description: |-
            Data model example https://smart-data-models.github.io/dataModel.Transportation/BikeHireDockingStation/examples/example-normalized.json
            
            First recorded date at 2023-01-04
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/BikestationTimeseries'
        "404": 
          description: Entity not Found   
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500": 
          description: Internal Error


  /offstreetparking:
    get:
      deprecated: true
      tags:
       - Parkings
      #summary: Get off street parking list
      #description: Returns off street parking list
      #operationId: OffStreetParkingList
      #:
      # - application/json
      parameters:

        - in: query
          name: id
          schema:
            type: string
          description: |-
            Returns entities whose ID matches one of the elements in the list.
            ex: "urn:ngsi-ld:parking:001"
          required: false
        - in: query
          name: limit
          schema:
            type: integer
            default: 1000
          description: Limit the number of elements of entities to return (max 1000)
          required: true
      responses:
        '200': 
          description: Data model example https://smart-data-models.github.io/dataModel.Parking/OffStreetParking/examples/example-normalized.json
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/OffStreetParking'
        "404": 
          description: Entity not Found   
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500": 
          description: Internal Error


  /parkingspaces:
    get:
      deprecated: true
      tags:
       - Parkings
      #summary: Get parking spaces list
      #description: Returns parking spaces list
      #operationId: ParkingSpacesList
      #produces:
      # - application/json
      parameters:
        - in: query
          name: id
          schema:
            type: string
          description: |-
            Returns entities whose ID matches one of the elements in the list.
            ex: "urn:ngsi-ld:ParkingSpace:34172_ARCTRI"
          required: false
        - in: query
          name: offset
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set
        - in: query
          name: limit
          schema:
            type: integer
            default: 1000
          description: Limit the number of elements of entities to return (max 1000)
          required: true
      responses:
        '200': 
          description: Data model example 
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Parkingspace'
        "404": 
          description: Entity not Found   
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500": 
          description: Internal Error

   
  /parking_timeseries/{parkingId}/attrs/availableSpotNumber:
    get:
      deprecated: true
      tags:
       - Historique des places de parking en ouvrage
      #summary: Query Parking Time Series data
      #description: Query Parking Time Series data
      #operationId: queryparkingtimeseriesdata
      #produces:
      # - application/json
      parameters:
       -  name: "parkingId"
          in: "path"
          description: |-
            ex:
            "urn:ngsi-ld:parking:001"
          schema:
            type: string
          required: true

       -  name: fromDate
          in: query
          description: |-
            ex: 
            "2022-01-01T00:00:00"
          schema:
            type: string
          required: true
        
       -  name: toDate
          in: query
          description: |-
            ex: 
            "2023-12-31T23:59:59"
          schema:
            type: string
          required: true
      responses:
        '200': 
          description: |-
            Data model example https://smart-data-models.github.io/dataModel.Parking/OffStreetParking/examples/example-normalized.json
            
            First recorded date at 2023-01-04
            
            N.B La liste des identifiants des parkings souterrains (parkingId) sont disponibles via l’API « Disponibilité des places dans les parkings de Montpellier Méditerranée Métropole ».
            
            Ex : « urn:ngsi-ld:parking:001 »  
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/OffStreetParkingTimeseries'
        "404": 
          description: Entity not Found   
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500": 
          description: Internal Error


  /ecocounter_timeseries/{ecocounterId}/attrs/intensity:
    get:
      deprecated: true
      tags:
       - Historique des comptages vélo et piéton
     # summary: Query Eco Counter Time Series data
     # description: Query Eco Counter Time Series data
      #operationId: queryecocountertimeseriesdata
      #produces:
      # - application/json
      parameters:    
       -  name: "ecocounterId"
          in: "path"
          description: |-
            ex:
            "urn:ngsi-ld:EcoCounter:XTH19101158"
          schema:
            type: string
          required: true

       -  name: fromDate
          in: query
          description: |-
            ex: 
            "2022-01-01T00:00:00"
          schema:
            type: string
          required: true
        
       -  name: toDate
          in: query
          description: |-
            ex: 
            "2023-12-31T23:59:59"
          schema:
            type: string
          required: true
      responses:
        '200': 
          description: |-
            Data model example

            Le smart data modèle des Eco-Compteurs n’est pas encore disponible sur le site https://smartdatamodels.org/ pour cette raison le modèle actuel est un schéma personnalisé et proposé par la Métropole de Montpellier.

            First recorded date at 2023-01-12
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/EcocounterTimeseries'
        "404": 
          description: Entity not Found   
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500": 
          description: Internal Error


  /ecocounter:
    get:
      deprecated: true
      tags:
       - Description Eco-Compteurs
      #summary: Get eco counter list
      #description: Returns eco counter list
      #operationId: EcoCounterList
      #produces:
      # - application/json
      parameters:
       -  in: query
          name: id
          description: |-
            Returns entities whose ID matches one of the elements in the list.
            ex: "urn:ngsi-ld:EcoCounter:XTH19101158"
          schema:
            type: string
          required: false
       -  in: query
          name: limit
          schema:
            type: integer
            default: 1000
          description: Limit the number of elements of entities to return (max 1000)
          required: true
      responses:
        '200': 
          description: |- 
            Le smart data modèle des Eco-Compteurs n’est pas encore disponible sur le site https://smartdatamodels.org/ pour cette raison le modèle actuel est un schéma personnalisé et proposé par la Métropole de Montpellier.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Ecocounter'
        "404": 
          description: Entity not Found   
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests ( max per second 10000, max per hour 2000000)
        "500": 
          description: Internal Error

  /wastecontainer:
    get:
      deprecated: true
      tags:
       - Taux de remplissage des conteneurs verre
      #summary: Get eco counter list
      #description: Returns eco counter list
      #operationId: SmartBinList
      #produces:
      # - application/json
      parameters:
       -  in: query
          name: id
          description: |-
            Returns entities whose ID matches one of the elements in the list.
            ex: "urn:ngsi-ld:WasteContainer:V_0510"
          schema:
            type: string
          required: false
      responses:
        '200':
          description: |-
            Le modèle actuel est un schéma personnalisé et proposé par la Métropole de Montpellier, des modèles wastecontainer sont sur le site https://smartdatamodels.org/.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WasteContainer'
        "404":
          description: Entity not Found
        "405":
          description:  Method Not Allowed
        "429":
          description:  Too many requests
        "500":
          description: Internal Error


components:
    parameters:
      idParameter:
        in: query
        name: id
        description: |-
          Returns entities whose ID matches one of the elements in the list.
        schema:
          type: string
        required: false

      offsetParameter:
        in: query
        name: offset
        schema:
          type: integer
        description: The number of items to skip before starting to collect the result set
        required: false

      limitParameter:
        in: query
        name: limit
        schema:
          type: integer
          default: 1000
        description: Limit the number of elements of entities to return (max 1000)
        required: false

      qParameter:
        in: query
        name: q
        description: |-
          Query filter for selecting entities based on attribute values.

          Syntax: attribute operator value

          Operators:
          - == (equal)
          - != (not equal)
          - > (greater than)
          - < (less than)
          - >= (greater or equal)
          - <= (less or equal)
          - ~= (pattern match)

          Example: fillingLevel>50
        schema:
          type: string
        required: false

      georelParameter:
        in: query
        name: georel
        description: |-
          **Geo-Query (1/3):** Spatial relationship for geo-queries.

          ⚠️ Must be used together with 'geometry' and 'coordinates' parameters.

          Values:
          - near;maxDistance==<distance> (proximity query in meters)
          - within (contained within)
          - contains (contains the geometry)
          - intersects (intersects with)
          - equals (geometrically equal)
          - disjoint (does not intersect)

          Example: near;maxDistance==1000
        schema:
          type: string
        required: false

      geometryParameter:
        in: query
        name: geometry
        description: |-
          **Geo-Query (2/3):** Geometry type for geo-queries.

          ⚠️ Must be used together with 'georel' and 'coordinates' parameters.

          Example: Point
        schema:
          type: string
          enum:
            - Point
            - Polygon
            - LineString
            - MultiPoint
            - MultiLineString
            - MultiPolygon
        required: false

      coordinatesParameter:
        in: query
        name: coordinates
        description: |-
          **Geo-Query (3/3):** Coordinates for geo-queries in GeoJSON format.

          ⚠️ Must be used together with 'georel' and 'geometry' parameters.

          Format depends on geometry type:
          - Point: [longitude, latitude]
          - Polygon: [[[lon1,lat1],[lon2,lat2],...,[lon1,lat1]]]
          - LineString: [[lon1,lat1],[lon2,lat2],...]

          Example for Point near Montpellier: [3.88,43.60]
        schema:
          type: string
        required: false

      attrsParameter:
        in: query
        name: attrs
        description: |-
          Comma-separated list of attribute names to include in the response.

          If not specified, all attributes are returned.

          Example: availableBikeNumber,location
        schema:
          type: string
        required: false

      orderByParameter:
        in: query
        name: orderBy
        description: |-
          Comma-separated list of attributes to sort the results.

          Added in NGSI-LD v1.9 specification.

          Syntax:
          - attributeName (ascending order, default)
          - attributeName;desc (descending order)

          Examples:
          - orderBy=name (sort by name ascending)
          - orderBy=name,id;desc (sort by name ascending, then by id descending)
          - orderBy=availableSpotNumber;desc (sort by available spots descending)
        schema:
          type: string
        required: false

      timerelParameter:
        in: query
        name: timerel
        description: |-
          Temporal relationship for temporal queries.

          Values:
          - before
          - after
          - between
        schema:
          type: string
          enum:
            - before
            - after
            - between
        required: false

      timeAtParameter:
        in: query
        name: timeAt
        description: |-
          Timestamp for temporal queries (ISO 8601 format).

          Used with timerel.

          Example: 2023-12-31T23:59:59Z
        schema:
          type: string
          format: date-time
        required: false

      endTimeAtParameter:
        in: query
        name: endTimeAt
        description: |-
          End date for temporal range queries (ISO 8601 format).

          Used with timerel=between.

          Example: 2023-12-31T23:59:59Z
        schema:
          type: string
          format: date-time
        required: false

      formatParameter:
        in: query
        name: format
        description: |-
          Response format for temporal queries.

          Values:
          - temporalValues (default) - Returns time series data
          - normalized - Returns normalized entity representation

          Default: temporalValues
        schema:
          type: string
          enum:
            - temporalValues
            - normalized
          default: temporalValues
        required: false

    schemas:
      # Note: These schemas are shared between new NGSI-LD endpoints and deprecated endpoints
      # They represent the data models used across both API versions

      Bikestation:
        type: object 
        properties:
            id: 
              type: string
              example: 'urn:ngsi-ld:station:001'
              
            type: 
              type: string
              example: 'BikeHireDockingStation'

            address:
              type: object
              properties:
                type:
                  type: string
                  example :  'PostalAddress'
                value:
                  type : object
                  properties:
                    addressCountry:
                      type : string
                      example : "FR"
                    addressLocality:
                      type : string
                      example : "Montpellier"
                    streetAddress:
                      type : string
                      example : "Rue Jules Ferry - Gare Saint-Roch"
                metadata:
                  type: object
            
            availableBikeNumber:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Number'
                value : 
                  type : integer 
                  example : 12
                metadata:
                  type : object
                  properties:
                    timestamp:
                      type : object
                      properties:
                        type :
                          type : string
                          example : 'DateTime'
                        value : 
                          type : string
                          example : '2022-10-26T10:35:03.000Z'
            
            freeSlotNumber :
              type: object
              properties:
                type:
                  type: string
                  example :  'Number'
                value:
                    type : integer
                    example : 9
                metadata:
                  type: object
                  
            totalSlotNumber :
              type: object
              properties:
                type:
                  type: string
                  example :  'Number'
                value:
                    type : integer
                    example : 12
                metadata:
                  type: object
            
            location:
              type: object
              properties:
                type:
                  type: string
                  example :  'geo:json'
                value:
                  type : object
                  properties:
                    type:
                      type: string
                      example :  'Point'
                    coordinates :
                        type: array
                        items: 
                          example : 3.881346 , 43.605366
                metadata:
                  type: object
            
            status:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Text'
                value : 
                  type : string
                  example : 'working'
                metadata:
                  type : object

      OffStreetParking:
        type: object 
        properties:
            id: 
              type: string
              example: 'urn:ngsi-ld:parking:001'
              
            type: 
              type: string
              example: 'OffStreetParking'
              
            allowedVehicleType:
              type: object
              properties:
                type:
                  type: string
                  example :  'StructuredValue'
                value:
                  type : array
                  items:
                    type : string
                    example : car , moped
                metadata:
                  type: object
                  
            availableSpotNumber:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Number'
                value : 
                  type : integer 
                  example : 138
                metadata:
                  type : object
                  properties:
                    timestamp:
                      type : object
                      properties:
                        type :
                          type : string
                          example : 'DateTime'
                        value : 
                          type : string
                          example : '2022-10-24T11:26:59.000Z'

            category:
              type: object
              properties:
                type:
                  type: string
                  example :  'StructuredValue'
                value:
                  type : array
                  items:
                    type : string
                    example : feeCharged , barrierAccess , underground
                metadata:
                  type: object

            layout:
              type: object
              properties:
                type:
                  type: string
                  example :  'StructuredValue'
                value:
                  type : array
                  items:
                    type : string
                    example : multiLevel
                metadata:
                  type: object

            location:
              type: object
              properties:
                type:
                  type: string
                  example :  'geo:json'
                value:
                  type : object
                  properties:
                    type:
                      type: string
                      example :  'Point'
                    coordinates :
                        type: array
                        items: 
                          example : 3.88881893 , 43.60871606
                metadata:
                  type: object

            name :
              type: object
              properties:
                type:
                  type: string
                  example :  'Text'
                value:
                    type : string
                    example : 'Antigone'
                metadata:
                  type: object

            requiredPermit :
              type: object
              properties:
                type:
                  type: string
                  example :  'Text'
                value:
                    type : string
                    example : 'noPermitNeeded'
                metadata:
                  type: object         
                  
            status:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Text'
                value : 
                  type : string
                  example : 'Open'
                metadata:
                  type : object
                  properties:
                    timestamp:
                      type : object
                      properties:
                        type :
                          type : string
                          example : 'DateTime'
                        value : 
                          type : string
                          example : '2022-10-24T11:26:59.000Z'                  
                  
            totalSpotNumber :
              type: object
              properties:
                type:
                  type: string
                  example :  'Number'
                value:
                    type : integer
                    example : 239
                metadata:
                  type: object 


      #pmr:
      #   type: object 
      #   properties:
      #       id: 
      #         type: string
      #         example: 'urn:ngsi-ld:Pmr:452'
      #        
      #       type: 
      #         type: string
      #         example: 'PMR'
      #        
      #       Latitude:
      #         type: object
      #         properties:
      #           type: 
      #             type: string 
      #             example : 'Double'
      #           value : 
      #             type : number
      #             example : 43.6004246831643
      #           metadata:
      #             type : object
      #
      #       Longitude:
      #         type: object
      #         properties:
      #           type: 
      #             type: string 
      #             example : 'Double'
      #           value : 
      #             type : number
      #             example : 3.90040595142034
      #           metadata:
      #             type : object
      #      
      #       TimeInstant:
      #         type: object
      #         properties:
      #           type: 
      #             type: string 
      #             example : 'DateTime'
      #           value : 
      #             type : string
      #             example : '2022-10-17T19:13:00.374Z'
      #           metadata:
      #             type : object
      #      
      #       slotStatus:
      #         type: object
      #         properties:
      #           type: 
      #             type: string 
      #             example : 'Float'
      #           value : 
      #             type : number
      #             example : 
      #           metadata:
      #             type : object


     
      Ecocounter:
        type: object 
        properties:
            id: 
              type: string
              example: 'urn:ngsi-ld:EcoCounter:XTH19101158'
              
            type: 
              type: string
              example: 'EcoCounter'
             
            TimeInstant:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'DateTime'
                value : 
                  type : string
                  example : '2022-10-17T20:46:17.541Z'
                metadata:
                  type : object
                  
            deviceType:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Text'
                value : 
                  type : string
                  example : 
                metadata:
                  type : object

            intensity:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Integer'
                value : 
                  type : number
                  example :
                metadata:
                  type : object
            
            laneId:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Integer'
                value : 
                  type : number
                  example : 
                metadata:
                  type : object
                  
            latitude:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Double'
                value : 
                  type : number
                  example : 
                metadata:
                  type : object

            longitude:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Double'
                value : 
                  type : number
                  example : 
                metadata:
                  type : object
                  
            reversedLane:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Text'
                value : 
                  type : string
                  example : 
                metadata:
                  type : object
                  
            vehicleType:
              type: object
              properties:
                type: 
                  type: string 
                  example : 'Text'
                value : 
                  type : string
                  example : 
                metadata:
                  type : object
          
       
      Parkingspace:
        type: object 
        properties:
            id: 
              type: string
              example: 'urn:ngsi-ld:ParkingSpace:34172_ARCTRI'
              
            type: 
              type: string
              example: 'ParkingSpace'
            
            name:
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "Arc de Triomphe"
              
            insee: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "34172"
              
            address: 
             type: object
             properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "rue Foch"
              
            typeOfUse: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "tous"
              
            isFree: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "false"
              
            parkingSpaceNumber: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "451"
              
            disabledParkingNumber: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : 
              
            maxHeight: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "190"
              
            siretNumber: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "21340172202058"
              
            longitude: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "3.873200750000000"
              
            latitude: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "43.611002669999998"
              
            typology: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "centre-ville"
              
            domaniality: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "public"
              
            owner: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "ville de Montpellier"
              
            usableSurfaceArea: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "9375"
              
            levelNumber: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "5"
              
            publicSpaces: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "438"
              
            remainingSpaces: 
              type: object
              properties:
                type: 
                  type: string 
                  example : "Text"
                value : 
                  type : string
                  example : "0"
       
      EcocounterTimeseries:
        type: object
        properties:
            attrName:
                type: string
                example: "intensity"
            entityId:
                type: string
                example: "urn:ngsi-ld:EcoCounter:XTH19101158"
            index:
                type: array
                items:
                    type: string
                example: ["2022-12-19T00:00:00.000+00:00", "2022-12-20T00:00:00.000+00:00"]
            values:
                type: array
                items: 
                    type: integer
                example: [14,3] 
    
      OffStreetParkingTimeseries:
        type: object
        properties:
            attrName:
                type: string
                example: "availableSpotNumber"
            entityId:
                type: string
                example: "urn:ngsi-ld:parking:001"
            index:
                type: array
                items:
                    type: string
                example: ["2022-12-20T00:02:55.000+00:00", "2022-12-21T00:02:55.000+00:00"]
            values:
                type: array
                items: 
                    type: integer
                example: [161,160]
      
      BikestationTimeseries:
        type: object
        properties:
          attrName:
              type: string
              example: "availableBikeNumber"
          entityId:
              type: string
              example: "urn:ngsi-ld:station:001"
          index:
              type: array
              items:
                  type: string
              example: ["2022-12-19T17:57:46.000+00:00", "2022-12-29T17:57:46.000+00:00"]
          values:
              type: array
              items: 
                  type: integer
                  example: [12,11]
                  
                  

      WasteContainer:
        type: object
        properties:
          id: 
            type: string
            example: 'urn:ngsi-ld:WasteContainer:V_1052'
            
          type: 
            type: string
            example: 'WasteContainer'
      
          alertLevel:
            type: object
            properties:
              type:
                type: string
                example: 'Text'
              value:
                type: string
                example: 'low'
              metadata:
                type: object
      
          containerVolume:
            type: object
            properties:
              type:
                type: string
                example: 'Text'
              value:
                type: string
                example: '4'
              metadata:
                type: object
      
          dateObserved:
            type: object
            properties:
              type:
                type: string
                example: 'DateTime'
              value:
                type: string
                example: '2025-08-19T15:30:04.000Z'
              metadata:
                type: object
      
          fillingLevel:
            type: object
            properties:
              type:
                type: string
                example: 'Number'
              value:
                type: number
                example: 21.55555556
              metadata:
                type: object
                properties:
                  timestamp:
                    type: object
                    properties:
                      type:
                        type: string
                        example: 'DateTime'
                      value:
                        type: string
                        example: '2025-08-19T15:30:04.000Z'
                  unitCode:
                    type: object
                    properties:
                      type:
                        type: string
                        example: 'Text'
                      value:
                        type: string
                        example: 'P1'
      
          installationType:
            type: object
            properties:
              type:
                type: string
                example: 'Text'
              value:
                type: string
                example: 'Aérien'
              metadata:
                type: object
      
          location:
            type: object
            properties:
              type:
                type: string
                example: 'geo:json'
              value:
                type: object
                properties:
                  type:
                    type: string
                    example: 'Point'
                  coordinates:
                    type: array
                    items:
                      type: number
                      example: 0
              metadata:
                type: object
      
          status:
            type: object
            properties:
              type:
                type: string
                example: 'Text'
              value:
                type: string
                example: 'active'
              metadata:
                type: object
      
          wasteType:
            type: object
            properties:
              type:
                type: string
                example: 'Text'
              value:
                type: string
                example: 'Verre'
              metadata:
                type: object